<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <%= if computer_goes_next? do %>
      <meta http-equiv="refresh" content='1;url=/ttt/computer_move/<%= game_state %>'>
    <% end %>
    <title>Elixir TicTacToe</title>
    <link rel="stylesheet" type="text/css" href="/public/style-game.css">
  </head>

  <body>

    <div id="board">
      <%= for row <- rows do %>
        <div class="row">
          <%= for cell <- row do %>
            <div class="cell">
              <% cell_presenter = TicTacToe.Web.CellPresenter %>
              <%= if winner || computer_goes_next? ||
                     draw || cell_presenter.cell_occupied?(cell) do %>
                <div class="cell-mark">
                  <%= cell_presenter.mark(cell) %>
                </div>
              <%= else %>
                <form action='/ttt/moves/<%= cell_presenter.index(cell) %>/<%= game_state %>' method="post" class="move-button">
                  <button type="submit" class="move-button">
                </form>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="game-prompts">
      <%= cond do %>
      <%= winner -> %>
        <h1><%= winner.mark %> has won!</h1>
      <%= draw -> %>
        <h1>It was a draw!</h1>
      <%= computer_goes_next? ->%>
        <h1>Computer is thinking about the next move...</h1>
      <%= true ->%>
        <h1>It is <%= current_player.mark %>'s turn, please pick a move</h1>
      <% end %>
        <div>
          <form action="/ttt/options" class="play-again-button">
            <button type="submit" class="play-again-button">Play again?</button>
          </form>
        </div>
    </div>

  </body>

</html>

